@-ms-viewport
{
	width: 640px;
}

@-webkit-viewport
{
	width: 640px;
}

@-o-viewport
{
	width: 640px;
}

@-moz-viewport
{
	width: 640px;
}

@viewport
{
	width: 640px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 640px;
	min-height: 1152px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u2834
{
	z-index: 2;
	width: 225px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	padding: 72px 76px 312.3749999999998px 339px;
	background: transparent url("../../images/phonesizebgi_dogpark.jpg") no-repeat left top;
	background-size: cover !important;
}

#u2732
{
	z-index: 42;
	width: 225px;
}

#pu2831
{
	z-index: 3;
	width: 0.01px;
	position: relative;
	margin-top: 218px;
}

#u2831
{
	z-index: 0;
	width: 225px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu2832-26
{
	width: 0.01px;
	position: relative;
	left: 33px;
	padding-top: 18px;
	z-index: 2;
	padding-bottom: 15px;
}

#u2832-26
{
	z-index: 4;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u2833-12
{
	z-index: 30;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 81px;
}

#page .verticalspacer
{
	clear: both;
}

